name: Build docker file
on:
  workflow_call:
    inputs:
      docker_file:
        required: false
        type: string
        default: Dockerfile

jobs:

  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build
        run: docker build . -f ${{ docker_file }}
