name: Build docker and test
on:
  workflow_call:
    inputs:
      docker_file:
        required: false
        type: string
        default: Dockerfile

jobs:
  docker-build-and-test:
    name: Build docker and test
    runs-on: ubuntu-latest
    steps:
      - name: Echo Deprecation Warning
        run: |
          echo "::warning Deprecated action. Migrate to test_python.yml"

      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build
        run: docker build -t docker_container_tag --build-arg TESTING=1  -f ${{ inputs.docker_file }} .

      - name: Test
        run: docker run docker_container_tag pytest
