name: Reply to internal issue comment
run-name: Reply to internal issue comment by ${{ github.actor }}
on:
  issue_comment:
    types:
      - created

jobs:
  comment-nocontribution:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.issue.labels.*.name, 'contributions-welcome') && 
        !contains(github.event.issue.labels.*.name, 'good first issue') && 
        !github.event.issue.pull_request }}
    permissions:
      issues: write
    steps:
      - name: Check user not in core team
        uses: tspascoal/get-user-teams-membership@v2
        id: teamAffiliation
        with:
          GITHUB_TOKEN: ${{ secrets.OCF_BOT_PAT_TOKEN }}
          username: ${{ github.event.comment.user.login }}
          team: ocf-core
      - name: Add comment
        if: ${{ steps.teamAffiliation.outputs.isTeamMember == 'false' }}
        run: |
          gh issue comment "$NUMBER" --body  "@${{ github.event.comment.user.login }} $BODY"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          NUMBER: ${{ github.event.issue.number }}
          BODY: >
            Thank you for reaching out! Unfortunately, this issue is not suitable for open source 
            contribution and so hasn't been marked with "good first issue" or "contributions welcome".
            Please consult our [contribution guidelines](https://github.com/openclimatefix#how-to-get-involved) for more information on how you can contribute, 
            and hope to see you around!
